# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Virtual env
.venv/

# Build
.build/
build/
dist/
*.egg-info/

# IDE
.vscode/
.idea/

# Docs
/docs/

# OS
.DS_Store

# Artifacts
coverage.xml
.txori_cache/
*.zip
