# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
.env
.mypy_cache/
.pytest_cache/
.ruff_cache/
.pyright/
.pyrightcache/
.dist/
dist/
build/
site/
coverage.xml

# OS
.DS_Store

# Archives
*.zip

# Docs
/site/

# CI tools
.trufflehogcache/
